<h1>Favorites</h1>

{{#each favorites}}
  <div class="favitem">
    <a href="{{this.nasa_url}}">
      <img class="faveimiage" src="{{this.url}}"></a>
    <p class="favtitle">{{this.title}}</p>
    <p class="favdate">{{this.date}}</p>
  <form class="" action="index.html" method="POST">
    <input type="favorites/delete" class="btn btn-success" name="delete" value="Delete from favorites">
  </form>
  </div>
{{else}}
  <p>No favorites saved yet.</p>
{{/each}}

{{> navigation}}
